@import './bootstrap/scss/bootstrap.scss';
@import './bootstrap/scss/bootstrap-reboot.scss';
@import './menu.scss';
@import './comment.scss';
@import './notification.scss';
@import './events.scss';
@import './component.scss';
@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/brands.scss';
@import './fontawesome/scss/regular.scss';
@import url('https://fonts.googleapis.com/css?family=Manjari:100,400,700&display=swap&subset=malayalam');

body, html {
  background-color: #F9F7FB;
  font-family: 'Manjari', sans-serif;
}

.Desktop {
  width: 100%;
  position: absolute;
  background-color: #F9F7FB;
  font-family: 'Manjari', sans-serif;

  .Desktop-Menu {
    position: absolute;
    background-color: #F9F7FB;
    width: calc(100% - 250px);
    top: 0;
    left: 250px;
    padding: 30px;
    -webkit-box-shadow: -1px 2px 10px 4px #e4e4e4; 
    box-shadow: -1px 2px 10px 4px #e4e4e4;
    font-family: 'Manjari', sans-serif;
  }
}

button:focus {
  outline: none;
  outline: none;
}