@import './bootstrap/scss/bootstrap.scss';
@import './bootstrap/scss/bootstrap-reboot.scss';
@import './menu.scss';
@import './comment.scss';
@import './notification.scss';
@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/brands.scss';
@import './fontawesome/scss/regular.scss';

body, html {
  background-color: #f1f2f6;
}

.Desktop {
  width: 100%;
  position: absolute;
  background-color: #f1f2f6;

  .Desktop-Menu {
    position: absolute;
    background-color: #f1f2f6;
    width: calc(100% - 120px);
    top: 0;
    left: 110px;
    padding: 30px;
  }
}